h1 {color: #7b91ff; font-size: 50px; } 
P {color: #ff8100;
text-align: center;
font-size: 30px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
#paral { 
  text-align: center;
  color: red;
}

p.ridge {border-style: ridge;}
 h1 {color: #7b91ff; font-size: 50px; text-align: center;} 
P {color: #ff8100;
text-align: center;
font-size: 30px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
#para1 { 
  text-align: left;
  color: red;}